[project]
	description = Ansible script for sonarqube installation
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Rajsekhar407
[access "refs/for/refs/*"]
	read = group user/Rajsekhar407
	push = group user/Rajsekhar407
	label-Code-Review = -2..+2 group user/Rajsekhar407
	label-Verified = -1..+1 group user/Rajsekhar407
	rebase = group user/Rajsekhar407
	removeReviewer = group user/Rajsekhar407
	submit = group user/Rajsekhar407
[access "refs/heads/*"]
	read = group user/Rajsekhar407
	create = group user/Rajsekhar407
	push = +force group user/Rajsekhar407
	pushMerge = group user/Rajsekhar407
[access "refs/tags/*"]
	push = group user/Rajsekhar407
	push = +force group user/Rajsekhar407
